*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

:root{
    --border: 1px solid black;
    --radius: 5px;
    --bg_main: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
    --border_color_white: 2px solid rgb(255, 255, 255);
}

.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    background: var(--bg_main);
}

.container_form{
    border: var(--border_color_white);
    width: 30%;
    height: 85%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    border-radius: var(--radius);
    box-shadow: 1px 1px 8px 3px white;
}

.form{
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: space-between;
}

.container_input{
    position: relative;
}

.input, .btn_save_user{
    width: 100%;
    height: 40px;
    font-size: 17px;
    border-radius: var(--radius);
    border: var(--border_color_white);
}

.container_btns_update{
    display: flex;
    justify-content: space-between;
}

.container_btns_update > button{
    width: 48%;
}

.btn_ocult{
    display: none;
}

.input{
    background: var(--bg_main);
    outline: none;
    padding-left: 5px;
}

/* .input_search{
    width: 90%;
} */

.container_input > label{
    position: absolute;
    top: -10px;
    /* z-index: 100; */
    left: 8px;
    padding: 0px 2px;
    border-radius: 3px;
    height: max-content;
    width: 85px;
    background-color: #ffffffda;
    color: #000000;
}

.btn{
    background-color: #91b9fa;
    cursor: pointer;
    border: var(--border_color_white);
    border-radius: var(--radius);
}

.btn:hover{
    background-color: #c2e9fb;
}

.container_registers{
    border: var(--border_color_white);
    width: 65%;
    height: 85%;
    border-radius: var(--radius);
    box-shadow: 1px 1px 8px 3px white;
}

.container_search{
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-bottom: var(--border_color_white);
}

.container_icon_search{
    width: 40%;
    display: flex;
    gap: 40px;
    align-items: center;
}

.fa-solid{
    font-size: 28px;
    text-align: center;
    color: white;
    cursor: pointer;
}

.container_users_registred{
    height: 85%;
    border-radius: var(--radius);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* flex-wrap: wrap; */
    gap: 10px;
    padding: 5px;
    overflow: auto;
}

.container_users_registred_not_found{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 17px;
}

.container_users_registred > div{
    border-radius: var(--radius);
    height: 300px;
}

.card{
    border: 2px solid #556f96;
    display: flex;
    position: relative;
    font-size: 15px;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;  
    padding: 10px;
}

.btns_card{
    display: flex;
    width: 95%;
    margin: 0px auto;
    justify-content: space-evenly; 
}

.icon_card{
    background-image: url(../icons/icon_card.svg);
    background-repeat: no-repeat;
    width: 70px;
    height: 70px;
    margin: 0px auto;
}

.btn_user{
    /* border: var(--border); */
    width: 40%;
    height: 30px;
    padding: 8px;
}

.fullname{
    color: #556f96;
    text-align: center;
    text-transform: capitalize;
    font-size: 18px;
}

.card_data{
    text-align: center;
}

.container_modal{
    position: fixed;
    top: 0px;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0000008c;
    display: none;
    text-align: center;
}

.modal{
    background-color: white;
    width: 40%;
    height: 50%;
    border-radius: var(--radius);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    position: relative;
}

.container_btns_modal{
    /* border: 1px solid red; */
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.btn_modal{
    width: 42%;
    height: 30px;
    border: 2px solid black;
}

.fa-circle-xmark{
    color: black;
    position: absolute;
    top: -6px;
    right: -6px;
}




/* ----------- media querys ---------------- */

@media(max-width: 1070px){
    .container_users_registred{
        grid-template-columns: repeat(2, 1fr);
        /* padding: 20px; */
        /* gap: 20px;  */
    }
    .container_form{
        width: 30%;
    }
    .container_registers{
        width: 60%;
    }
    .form{
        width: 80%;
    }
}

@media(max-width: 850px){
    .title_users_registred{
        font-size: 17px;
    }
    .container_icon_search{
        width: 50%;
        display: flex;
        gap: 45px;
        align-items: center;
    }
    .container_users_registred{
        padding: 10px;
        gap: 10px;
    }
    .card{
        font-size: 13px;
    }
    .modal{
        width: 60%;
    }
}

@media(max-width: 750px){
    .container_users_registred{
        grid-template-columns: repeat(1, 1fr);
        padding: 10px 30px;
        gap: 10px;
    }
    .container_form{
        width: 40%;
    }
    .container_registers{
        width: 50%;
    }
    .container_icon_search{
        width: 80%;
        gap: 10px;
    }
    .container_search{
        height: 80px;
        gap: 10px;
        flex-direction: column;
        padding: 10px 0px;
    }
    .input_search{
        height: 30px;
    }
}

@media(max-width: 600px){
    .container{
        flex-direction: column;
        height: max-content;
        gap: 50px;
    }
    .container_form{
        margin-top: 50px;
        width: 80%;
        padding: 20px 0px;
    }
    .container_registers{
        margin-bottom: 50px;
        width: 80%;
    }
    .form{
        width: 70%;
    }
    .container_search{
        height: 140px;
        padding: 15px 0px;
    } 
    .input_search{
        height: 40px;
    }
}

@media(max-width: 550px){
    .container_users_registred{
        grid-template-columns: repeat(1, 1fr);
        padding: 40px;
        gap: 40px;
    }
    .modal{
        width: 80%;
    }
}

@media(max-width: 405px){
    .container_users_registred{
        padding: 30px;
        gap: 30px;
    }
}

@media(max-width: 375px){
    .container_users_registred{
        padding: 10px;
        gap: 10px;
    }
    .container_icon_search{
        width: 90%;
        gap: 20px;
    }
}
